images/.$taskcenter_scenario_btp_solution_diagram.drawio.bkp
images/.$taskcenter_scenario_btp_solution_diagram.drawio.dtmp
architecture/.$taskcenter_scenario_btp_solution_diagram.drawio.bkp
architecture/.$taskcenter_btp_sol_diagr.drawio.dtmp
.DS_Store
.vscode
